<ng-template [ngIf]="isScreenNarrow" [ngIfElse]="isScreenWide">
  <p-accordion>
    <p-accordionTab header="Index">
      <app-index-panel></app-index-panel>
    </p-accordionTab>
    <p-accordionTab header="Content">
      <app-contents-panel></app-contents-panel>
    </p-accordionTab>
    <p-accordionTab header="Full-text">
      <app-fulltext-panel></app-fulltext-panel>
    </p-accordionTab>
  </p-accordion>
</ng-template>

<ng-template #isScreenWide>
  <as-split direction="horizontal" (dragEnd)="onDragEnd($event)">

    <as-split-area *ngIf="config.columns[0].visible" [size]="config.columns[0].size">
      <app-index-panel></app-index-panel>
    </as-split-area>


    <as-split-area *ngIf="config.columns[1].visible" [size]="config.columns[1].size">
      <app-contents-panel></app-contents-panel>
    </as-split-area>


    <as-split-area *ngIf="config.columns[2].visible" [size]="config.columns[2].size">
      <app-fulltext-panel></app-fulltext-panel>
    </as-split-area>

  </as-split>
</ng-template>


