<ng-template [ngIf]="isScreenNarrow" [ngIfElse]="isScreenWide">
  <div class="table container">
    <div style="display: flex; justify-content: space-evenly;padding-top:10px;" class="table-row header">
      <span (click)="this.contentViewName='index'"
            [ngClass]="{  'navLink':true,'navLink-selected': this.contentViewName=='index' }"
      >Index</span>
      <span (click)="this.contentViewName='article'"
            [ngClass]="{  'navLink':true,'navLink-selected': this.contentViewName=='article' }"
      >Article</span>
      <span (click)="this.contentViewName='ft'"
            [ngClass]="{  'navLink':true,'navLink-selected': this.contentViewName=='ft' }"
      >Full-Text ({{ftSearchResultsCount}})</span>
    </div>
    <div class="table-row body">
      <div style="padding: 0" class="table-cell body-content-outer-wrapper">
        <div [ngSwitch]="this.contentViewName" style="overflow: hidden;" class="body-content-inner-wrapper">
          <app-index-panel *ngSwitchCase="'index'"></app-index-panel>
          <app-contents-panel *ngSwitchCase="'article'"></app-contents-panel>
          <app-fulltext-panel *ngSwitchCase="'ft'"></app-fulltext-panel>
        </div>
      </div>
    </div>
  </div>


</ng-template>

<ng-template #isScreenWide>
  <as-split direction="horizontal" (dragEnd)="onDragEnd($event)">

    <as-split-area *ngIf="config.columns[0].visible" [size]="config.columns[0].size">
      <app-index-panel></app-index-panel>
    </as-split-area>


    <as-split-area *ngIf="config.columns[1].visible" [size]="config.columns[1].size">
      <app-contents-panel></app-contents-panel>
    </as-split-area>


    <as-split-area *ngIf="config.columns[2].visible" [size]="config.columns[2].size">
      <app-fulltext-panel></app-fulltext-panel>
    </as-split-area>

  </as-split>
</ng-template>

<p-dialog header="About Dictionary" [(visible)]="displayAbout">
  {{aboutText}}
</p-dialog>


