<select *ngIf="sourceLanguages().length>0"
        class="languageSelector"
        name="sourceLanguageSelector"
        [ngModel]="selectedSourceLanguageCode"
        (ngModelChange)="onChangeSource($event)">
  <option *ngFor="let sourceLanguage of sourceLanguages()" value="{{sourceLanguage}}">{{sourceLanguage}}</option>
</select>

<select *ngIf="targetLanguages().length>0"
        class="languageSelector"
        style="margin-right: 5px;" name="targetLanguageSelector"
        [ngModel]="selectedTargetLanguageCode"
        (ngModelChange)="onChangeTarget($event)">
  <option *ngFor="let targetLanguage of targetLanguages()" value="{{targetLanguage}}">{{targetLanguage}}</option>
</select>
