<as-split direction="horizontal" (dragEnd)="onDragEnd($event)">

  <as-split-area *ngIf="config.columns[0].visible" [size]="config.columns[0].size">
    <app-dictinaries-panel></app-dictinaries-panel>
  </as-split-area>


  <as-split-area *ngIf="config.columns[1].visible" [size]="config.columns[1].size">
    <app-info-panel></app-info-panel>
  </as-split-area>


<!--  <as-split-area *ngIf="config.columns[2].visible" [size]="config.columns[2].size">-->
<!--    <app-settings-panel></app-settings-panel>-->
<!--  </as-split-area>-->

</as-split>
<input #focusElement type="text" style="opacity:0;filter:alpha(opacity=0);"/>
