<div class="table container">
  <div class="table-row header">
    <app-search></app-search>
  </div>
  <div class="table-row body">
    <div style="padding: 0" class="table-cell body-content-outer-wrapper">
      <div style="overflow: hidden" class="body-content-inner-wrapper">
        <div style="padding-left:10px;padding-right: 10px;padding-top:5px;" class="body-content">
          <app-index></app-index>
        </div>
      </div>
    </div>
  </div>
  <div class="table-row header">
      <div id="narrow" style="padding-left: 10px;padding-right: 10px;">
          <div class="table-row header">
            <app-pagination></app-pagination>
          </div>
      </div>
  </div>
</div>
